*{
    font-family: "Noto Sans";
}
.all {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
  }
.container {
    height: 100%;
    position: relative;
    background-color: #F8F8F8;
}

.inner_container {
    margin: 0 auto;
    padding: 5rem;
    text-align:center;
    width: 80%;
    max-width: 800px;
}
.home {
    margin-bottom: 30px;
}
.button {
    margin: 10px
}
.core_header {
    position: sticky;
    top: 0;
    background-color: #00acee;
    padding: 20px;
    border-bottom: 1px solid #008abe;
    object-fit: contain;
    display: flex;
    z-index: 1;
    justify-content: space-between;
}

.core_title {
    
    font-weight: normal;
    text-align: center;
  }

.core_titleModal{
    padding-top: 3px;
    font-size: 32px;
}
.core_logout {
    display: flex;
    justify-content: flex-end;
}